<!DOCTYPE html>
<html>
<head>
	<title>Fitness Data</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
	<style>
		body {
			/*background-color: #555;*/
		}
	</style>
</head>
<body>
	<canvas id="chart"></canvas>
	<script>

		var ctx = document.getElementById("chart");

		function setup(){
			requestData();
		}

		function requestData(){
			var xhttp;
			if(window.XMLHttpRequest){
				xhttp = new XMLHttpRequest();
			}

			// Function called once HTTP response is received
			xhttp.onreadystatechange = function(){
				if(xhttp.readyState == 4 && xhttp.status == 200){
					fitnessData = JSON.parse(xhttp.responseText);
					processData(fitnessData);
				}
			}

			xhttp.open("GET", "data", true);
			xhttp.send();
		}

		function processData(data){
			var pushups = data["data"]["pushups"];

			var labels = [];
			for(var i = 1; i <= pushups.length; i++){
				labels.push("Session " + i);
			}

			var data = {
				labels: labels,
				datasets: [
				        {
				            label: "Pushups",
				            fill: true,
				            lineTension: 0.4,
				            backgroundColor: "rgba(75,192,192,0.4)",
				            borderColor: "rgba(75,192,192,1)",
				            borderCapStyle: 'butt',
				            borderDash: [],
				            borderDashOffset: 0.0,
				            borderJoinStyle: 'miter',
				            pointBorderColor: "rgba(75,192,192,1)",
				            pointBackgroundColor: "#fff",
				            pointBorderWidth: 1,
				            pointHoverRadius: 5,
				            pointHoverBackgroundColor: "rgba(75,192,192,1)",
				            pointHoverBorderColor: "rgba(220,220,220,1)",
				            pointHoverBorderWidth: 2,
				            pointRadius: 3,
				            pointHitRadius: 10,
				            data: pushups,
				            spanGaps: false,
				        }
				    ]
			};
			var options = {
				scales: {
					yAxes: [{
						display: true,
						ticks: {
							beginAtZero: true,
							suggestedMax: 80
						}
					}]
				}
			};


			var fitnessChart = new Chart(ctx, {
				type: 'line',
				data: data,
				options: options
			});
		}

		window.onload = setup;



	</script>
</body>
</html>